.gameBoard {
  width: 300px;
  height: 300px;
  border: 1px solid black;

  display: grid;
  grid-template-columns: repeat(10, 1fr);
}

.gameBoardCell,
.attackLogCell {
  border: 1px solid black;
}

.attackLogCell:hover {
  background: blue;
  cursor: crosshair;
}
